*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;   
}
header {
    background-color: rgb(55, 27, 27);
    
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 2px;
}
nav ul li a{
    color: blue;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color:rgb(7, 57, 4);
    transition: .4s;
}
.underline-list{
    border-bottom: 3px solid black;
}
p{
    color: navy;
    font-size: 14px;
    line-height: 1.4em;
}
h1{
    color: blue;
    padding: 10px
}
.header{
    height: 11%;
    width: 100%;
    position: absolute;
}
.Photo-Header h2{
    position: relative;
    color: rgb(240, 6, 228);
}
.Work{width: 80%;
      height: 20%;
      position: relative;
}
.overlay{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
}
.body{
    width: 30%;
    height: 20%
}
.tabs img {
    width: 50%;
    border-style: groove;
    border-radius: 20px;
    border-color: navy;
}
.tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}